.sign-up-section {
  padding: 100px;
}

.sign-up-box {
  background-color: #3382F6;
  height: 150px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.box-text {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  justify-content: center;
}

.box-header {
  font-size: 20px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: 0;
}

.signUp-text {
  color: #F9FAF8;
  margin-top: 0;
}

.button-layout {
  display: flex;
  flex-direction: row;
  margin-left: 155px;
}


.button2 {
  color:#F9FAF8;
  font-weight: 600;
  background-color: #3382F6;
  border: 2px solid #F9FAF8;
  border-radius: 3px;
  width: 100px;
  height: 28px;
  cursor: pointer;
}